@import url('https://www.maisfontes.com/marvel-regular');

.Heroes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 600px;
    height: 400px;
    border: solid 5px #F20206;
    background-color: white;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 1px black;
    color: black;

}

.Heroes>ul {
    list-style: none;
    font-size: 20px;
    font-weight: 900;
    font-family: 'marvel-bold';

}

ul>img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid 5px #F20206;
    box-shadow: 1px 1px 8px 1px black;
    border-radius: 50%
}