.Page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../imgs/library.jpg");
    color: red;
}

.Page>h1 {

    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

.Heroes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.headerlogo {
    width: 20px;
}