/* @font-face {
    font-family: 'Marvel-Regular';
    font-weight: 400;
    src: url('/1../assets/Marvel-Regular.ttf'), format('truetype');
} */


.Header {
    background-color: black;
    color: #fff;
    padding-left: 10px;
    height: 120px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Marvel-Regular';
}

.Header {
    display: flex;
    flex-direction: column;
}

.Header a {
    text-decoration: none;
    color: #fff;

}

.NavLinks {
    list-style: none;
    display: flex;
    padding-right: 10px;
}

.NavLinks li {
    margin-right: 20px;
}

.logo {
    width: 220px;
    height: 100px;
}

.headerlogo {
    width: 400px;
}