.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Marvel-Regular';
  src: url('./assets/Marvel-Regular.ttf');
}

@font-face {
  font-family: 'Marvel-Bold';
  src: url('./assets/Marvel-Bold.ttf');
}

@font-face {
  font-family: 'Avengeance Heroic Avenger';
  src: url('./assets/AVENGEANCE-HEROIC-AVENGER.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Avengeance Heroic Avenger';
  background-image: url("./assets/background.png");
}

.Page>h1,
h2 {
  color: #F7EE02;
  font-size: 47px;
  -webkit-text-stroke: 2px black;
  margin: 50px;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 700px;
  height: 100px;
  border: solid 5px #F20206;
  background-color: white;
  border-radius: 18px;
  box-shadow: 1px 1px 8px 1px black;
  color: black;
}

.form-control {
  border: solid 5px #F20206;
  height: 60px;

}

.btn-btn-default {
  width: 200px;
}

.btn-search {
  width: 300px;
  height: 35px;
}